*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f2f2f2;
}
.linea_horizontal{
    color: rgb(0, 0, 0);
}

.text_primary{
    font-weight: 700;
}

.text-danger {
    color: red; 
    font-size: 14px;
}

.bg-primary{
    background-color: rgb(248, 240, 229) !important;
}

.bg-secondary{
    background-color: rgb(234, 219, 200) !important;
}

.bg-tertiary{
    background-color: rgb(218, 192, 163) !important;
}

.bg-quaternary{
    background-color: rgb(15, 44, 89)!important;
}

.color-primary{
    color: rgb(248, 240, 229) !important;
}

.color-secondary{
    color: rgb(234, 219, 200) !important;
}

.color-tertiary{
    color: rgb(218, 192, 163) !important;
}

.color-quaternary{
    color: rgb(15, 44, 89)!important;
}

.boton-quaternary{
    background-color: rgb(15, 44, 89)!important;
    color: rgb(248, 240, 229) !important;
}

.boton-submit{
    background-color: rgb(15, 44, 89)!important;
    color: rgb(248, 240, 229) !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: -20px;

}

.buscador{
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: large;
}

.buscador label{
    font-size: 1.7rem;  
    font-weight: 700;
    margin-bottom: 10px;
}

.input-buscador{
    border: 2px solid rgb(15, 44, 89) !important;
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: large;
}

.borde-personalizado{
    border: 2px solid rgb(15, 44, 89) !important;
}