{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-4 bg-secondary rounded">
            <h1 class="text_primary text-center color-quaternary fw-bold">Añadir Vehículo</h1>

            {{error}}

            <form action="/vehicles/create/" method="POST" class="card card-body bg-secondary mb-2">
                {% csrf_token %}

                {{ form.model.label_tag }} {{ form.model }}<br>
                {{ form.brand.label_tag }} {{ form.brand }}<br>
                {{form.plate.label_tag}} {{form.plate}}<br>
                {{ form.color.label_tag }} {{ form.color }}<br>
                

                <button class="btn boton-quaternary" id="create-button">
                    Añadir Vehículo
                </button>

            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('create-button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function (event) {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas crear este vehículo?");

            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Continuar con la redirección
                return true;
            } else {
                // Prevenir la acción predeterminada si el usuario cancela
                event.preventDefault();
                return false;
            }
        });
    });
</script>


{% endblock %}