{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-4">
            <h1 class="text_primary"> Create trip</h1>

            {{error}}

            <form action="/trips/create/" method="POST" class="card card-body" id="create-trip-form">
                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-primary" type="button" onclick="showConfirmation()">
                    Save
                </button>
            </form>           
         
        </div>
    </div>
</main>

<script>
    function showConfirmation() {
        if (confirm("¿Estás seguro de que deseas crear este viaje?")) {
            // Si el usuario confirma, envía el formulario
            document.getElementById('create-trip-form').submit();
        }
    }
</script>
{% endblock %}
