{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-4">
            <h1 class="text_primary">Añadir vehículo</h1>

            {{error}}

            <form action="/vehicles/create/" method="POST" class="card card-body">
                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-primary" id="create-button">
                    Save
                </button>

            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('create-button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function (event) {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas crear este vehículo");

            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Continuar con la redirección
                return true;
            } else {
                // Prevenir la acción predeterminada si el usuario cancela
                event.preventDefault();
                return false;
            }
        });
    });
</script>
{% endblock %}