{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">GoShare</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam excepturi consectetur odio sed aspernatur numquam aut repellendus voluptatum nulla odit ad quas reiciendis dolorem incidunt, perferendis, eos autem veritatis. Repellendus!</p>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}