{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5 container-home">
    <section class="card w-40 bg-secondary ">
        <div class="card-body">
        
            <div class="container-text-home text-center ">
                <h1 class="color-quaternary tittle-home">Bienvenido a GoShare!</h1>
                <h5 class="subtittle-home">¿Listo para embarcarte en un viaje con nosotros?</h5>
                <p>Únete a nuestra comunidad</p>
            </div>

        <div class="text-center">
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="/trips/">
                    Viajes Disponibles
                </a>
                <a class="btn btn-primary" href="/trips/mine/">
                    Mis Viajes
                </a>
                <a class="btn btn-success" href="/trips/create/">
                    Crear Viaje
                </a>
                <a class="btn btn-primary" href="/vehiculos/">
                    Mis Vehiculos
                </a>
                <a class="btn btn-success" href="/vehiculos/create/">
                    Añadir Vehiculo 
                               </a>
                <a class="btn btn-danger" href="/logout/">
                    Log Out
                </a>
            {% else %}
                <a class="btn bg-quaternary color-secondary" href="/signin/">
                    Log In
                </a>
                <a class="btn bg-quaternary color-secondary" href="/signup/">
                    Sign Up
                </a>
            {% endif %}            
        </div>
        </div>
    </section>
</main>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}