{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5 container_form ">
            <form method="POST" class="card card-body container-registro bg-secondary">
                <h1 class="text-center tittle-registro">Registro</h1>
                
                {% csrf_token %}


                <div class="mb-3">
                    <label for="username color-quaternary">Usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Nombre de Usuario">
                    <div class="text-danger" id="user_error">{{ form.username.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="password1 color-quaternary">Contraseña:</label>
                    <input type="password" name="password1" id="password1" class="form-control" placeholder="Escribe tu contraseña">
                    <!-- Mostrar errores de contraseña -->
                    <div id="password-error" class="text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="password2">Confirmar Contraseña:</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Vuelve a escribir tu contraseña">
                    <!-- Mostrar error de coincidencia de contraseña -->
                    <div id="password-match-error" class="text-danger"></div>
                    <div class="text-danger" id="bad_password">{{error}}</div>
                </div>

                <button id="signup-button" class="btn bg-quaternary color-secondary">Registrarse</button>                

            </form>
        </div>
    </div>
</main>
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<script>
    $(document).ready(function() {
        var usernameErrors = $("#user_error");
        var password1 = $("#bad_password");
        if (usernameErrors.text().trim() !== "") {            
            usernameErrors.text("El nombre de usuario ya está en uso");            
        }

        console.log(password1.text().trim());

        if (password1.text().trim() == "password2The password is too similar to the username.") {
            password1.text("La contraseña no puede contener el nombre de usuario");
        } else if(password1.text().trim() == "password2The password is too similar to the username.This password is too common."){
            password1.text("La contraseña no puede contener el nombre de usuario. La contraseña es muy común");
        }else if(password1.text().trim() == "password2This password is too common."){
            password1.text("La contraseña es muy común");
        }else{
            password1.text("");
        }
    });
</script>
{% endblock %}
