
{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container">
    <div class="col-md-6 offset-md-3 mt-2">
        
        <ul class="list-group grupo bg-secondary" style="display: flex; align-items: center; justify-content: center; align-content: center;">

            <div class="form-container">
                <h1 class="text-center display-4 py-2 text_primary color-quaternary ">Viajes Disponibles</h1>
                <form method="post" style="display: flex; align-items:center; justify-content:space-evenly;">
                    <div class="buscador">
                    {% csrf_token %}
                    <label for="{{ search_form.search_query.auto_id }}" class="color-quaternary fw-bold">{{ search_form.search_query.label }}</label>
                    {{ search_form.search_query }}
                    </div>
                    <button type="submit" class="boton-submit">Buscar</button>
                </form>
            </div>
            
                {% for trip in search_trips %}
                        <a class="list-group-item item_grupo w-80" href="{% url 'trip_detail' trip.id %}">                
                            <header class="d-flex justify-content-between" style="
                                justify-content: space-around;">
                                <h1 class="fw-bold">{{trip.startingPlace}}</h1>
                                <h4 style="margin-left: 2rem;">{{trip.user.username}}</h4>
                            
                            </header>
                            <hr style="border-color: black;">
                            <p>{{trip.arrivalPlace}}</p>
                            <p>{{trip.departureTime}}</p> 
                            <p>{{trip.travelDate}}</p>                
                            <p>{{trip.vehiculo_disponible}} {{trip.vehiculo_disponible.color}}</p>
                        </a>
                {% empty %}
                    <p class="color-quaternary text-center">No hay viajes disponibles que coincidan con tu búsqueda</p>
                {% endfor %}
            

            {% for trip in mytrips %}
                    <a class="list-group-item item_grupo" href="{% url 'trip_detail' trip.id %}">                
                    <header class="d-flex justify-content-between header_item_group">
                        <h1 class="text-primary text_primary">{{ trip.startingPlace }}</h1>
                        <h4 style="margin-left: 2rem;">{{ trip.user.username }}</h4>
                    </header>
                    <hr style="border-color: black;">
                    <p>{{ trip.arrivalPlace }}</p>
                    <p>{{ trip.departureTime }}</p> 
                    <p>{{ trip.travelDate }}</p>                
                    <p>{{ trip.vehiculo_disponible }} {{ trip.vehiculo_disponible.color }}</p>

                    {% if trip.completed == True %}
                                <p class="text-danger text-center">Este viaje ya ha finalizado</p>
                    {% elif trip.numseatsfree == 0 %}
                        <p class="text-danger text-center">Todos los asientos ya están reservados</p>
                    {% endif %}
                    </a>
            {% endfor %}

            {% for trip in trips %}
                <a class="list-group-item item_grupo" href="{% url 'trip_detail' trip.id %}">                
                    <header class="d-flex justify-content-between">
                        <h1 class="fw-bold">{{trip.startingPlace}}</h1>
                        <h4>{{trip.user.username}}</h4>
                        
                    </header>
                    <hr style="border-color: black;">
                    <p>{{trip.arrivalPlace}}</p>
                    <p>{{trip.departureTime}}</p> 
                    <p>{{trip.travelDate}}</p>                
                    <p>{{trip.vehiculo_disponible}} {{trip.vehiculo_disponible.color}}</p>
                </a>
            {% endfor %}
        </ul>

    </div>
</main>
<link rel="stylesheet" href="{% static 'css/trips.css' %}">


{% endblock %}