{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 mb-4 bg-secondary rounded">
            <h1 class="text-center color-quaternary display-4 fw-bold">Detalles del Viaje</h1>

            <div class="card card-body mb-2 mt-2">

                {% if trip.completed %}
                <h2 class="text-center text-success">Este viaje ha finalizado</h2>             

                <h3>Desde:</h3>
                <ul>
                    <li>{{trip.startingPlace}}</li>
                </ul>
                <h3>Hasta: </h3>
                <ul>
                    <li>{{trip.arrivalPlace}}</li>
                </ul>
                <h3>Pasajeros:</h3>
                <ul>
                    {% for passenger in trip.passengers.all %}
                    <li>{{ passenger.username }}</li>
                    {% endfor %}
                </ul>
                <h3>Fecha:</h3>
                <ul>
                    <li>{{trip.travelDate}}</li>
                </ul>
                <h3> Vehiculo </h3>
                <ul>
                    <li>
                        <p>Marca: {{trip.vehiculo_disponible.brand}}</p>                      
                    </li>
                    <li>
                        <p>Modelo: {{trip.vehiculo_disponible.model}}</p>
                    </li>
                    <li>
                        <p>Color: {{trip.vehiculo_disponible.color}}</p>
                    </li>
                    <li>
                        <p>Placa: {{trip.vehiculo_disponible.plate}}</p>
                    </li>
                </ul>

                <!-- Verifica si el usuario ya calificó al conductor -->
                {% if is_passenger %}
                    {% with rated_driver=rated_driver %}
                        {% if not rated_driver %}
                            <h2>¿De 0 a 5 cómo estuvo tu viaje?</h2>
                            <form method="POST" action="{% url 'rate_driver' trip.id %}">
                                {% csrf_token %}
                                {{ ratinform.rating.label_tag }}
                                {{ ratinform.rating }}
                                <button type="submit" class="btn btn-primary">Calificar</button>
                            </form>
                        {% else %}
                            <h2 class="text-success">Viaje calificado</h2>
                            <p>Tu calificación: {{ rated_driver.rating }}</p>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% else %}
                <h3 class="fw-bold">{{ trip.startingPlace }} - {{ trip.arrivalPlace }}</h3>
                <p>
                    <span class="fw-bold">Creador del viaje:</span> {{ trip.user.username }}
                </p>
                <p>
                    <span class="fw-bold">Salida:</span> {{ trip.departureTime }}
                  </p>
                  
                  <p>
                    <span class="fw-bold">Fecha:</span> {{ trip.travelDate }}
                  </p>
                  
                  <p>
                    <span class="fw-bold">Plazas disponibles:</span> {{ trip.numseatsfree }}
                  </p>
                  
                  <p>
                    <span class="fw-bold">Vehículo:</span> {{ trip.vehiculo_disponible }} {{trip.vehiculo_disponible.color}} {{ trip.vehiculo_disponible.plate }}
                  </p>
                  
                  {% if trip.details %}
                  <p>
                    <span class="fw-bold">Detalles:</span> {{ trip.details }}
                  </p>
                  {% endif %}

                {% if is_owner %}
                <p>Creador del Viaje</p>
                {% elif is_passenger %}
                <p class="text-success text-center">Ya te uniste a este viaje</p>
                {% else %}
                <form method="POST" action="{% url 'join_trip' trip.id %}">
                    {% csrf_token %}
                    {% if trip.numseatsfree > 0 %}
                    <button class="btn btn-primary" type="submit" id="join-button">Unirme</button>
                    {% else %}
                    <p class="text-danger text-center">No hay asientos disponibles.</p>
                    {% endif %}
                </form>
                {% endif %}

                {% if user in trip.passengers.all %}
                <a href="{% url 'leave_trip' trip.id %}" class="btn btn-danger">Salir</a>
                {% endif %}

                {% if is_owner %}
                <!-- Mostrar el formulario de edición -->
                <form method="POST" action="" id="update-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                </form>
                
                <div class="contenedor_botones" style="display: flex; justify-content: space-around; display:row;">
                    <button type="submit" class="btn btn-primary" onclick="submitForm()">Guardar Cambios</button>
                <!-- Mostrar el botón de eliminar -->
                    <form action="{% url 'delete_trip' trip.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Eliminar</button>
                </form>
                {% if is_owner and not trip.completed %}
                <form method="POST" action="{% url 'finalize_trip' trip.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger">Finalizar viaje</button>
                </form>
                {% endif %}
                </div>
                {% endif %}

                
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script>
    function submitForm() {
      document.getElementById('update-form').submit();
    }
</script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('join-button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function (event) {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas unirte a este viaje?");

            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Continuar con la redirección
                return true;
            } else {
                // Prevenir la acción predeterminada si el usuario cancela
                event.preventDefault();
                return false;
            }
        });
    });
</script>



{% endblock %}