{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h1 class="text-center">Detalles del Viaje</h1>

            <div class="card card-body">
                <h3>{{ trip.startingPlace }} - {{ trip.arrivalPlace }}</h3>
                <p>Salida: {{ trip.departureTime }}</p>
                <p>Fecha: {{ trip.travelDate }}</p>
                <p>Plazas disponibles: {{ trip.numseatsfree }}</p>
                <p>Detalles: {{ trip.details }}</p>

                {% if is_owner %}
                    <p>Creador del Viaje</p>
                {% elif is_passenger %}
                    <p>Ya te uniste a este viaje</p>
                {% else %}
                    <form method="POST" action="{% url 'join_trip' trip.id %}">
                        {% csrf_token %}
                        {% if trip.numseatsfree > 0 %}
                            <button class="btn btn-primary" type="submit" id="join-button">Unirme</button>
                        {% else %}
                            <p class="text-danger">No hay asientos disponibles.</p>
                        {% endif %}
                    </form>
                {% endif %}

                {% if is_owner %}
                    <!-- Mostrar el formulario de edición -->
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                    <!-- Mostrar el botón de eliminar -->
                    <form action="{% url 'delete_trip' trip.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('join-button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function() {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas unirte a este viaje?");
            
            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Redirige al usuario a 'my_trips'
                window.location.href = '{% url "my_trips" %}';
            }
        });
    });
</script>

{% endblock %}
