{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{vehiculo.model}}</h1>

            {{error}}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Update
                </button>
            </form>

            <div class="mt-5 d-flex">                   
                <form action="{% url 'delete_vehiculo' vehiculo.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" id="delete_button">
                        Delete
                    </button>
            </div>
            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('delete_button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function (event) {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas eliminar este vehículo?");

            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Continuar con la redirección
                return true;
            } else {
                // Prevenir la acción predeterminada si el usuario cancela
                event.preventDefault();
                return false;
            }
        });
    });
</script>

{% endblock %}