{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="container">
  <div class="row bg-secondary rounded">
    <div class="rounded mt-2 mb-2">
      <h1 class="text-secondary text-center color-quaternary fw-bold">{{vehiculo.model}}</h1>

      {{error}}

      
        <form method="POST" id="update-form">
          {% csrf_token %}
          {{form.as_p}}
        </form>

        <div class="contenedor_botones">
            
          <button class="btn btn-primary" onclick="submitForm()">
            Update
          </button>

          <form action="{% url 'delete_vehiculo' vehiculo.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" id="delete_button">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<link rel="stylesheet" href="{% static 'css/vehiculos_detail.css' %}">
<script>
  function submitForm() {
    document.getElementById('update-form').submit();
  }
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén una referencia al botón "Unirme"
        var joinButton = document.getElementById('delete_button');

        // Agrega un controlador de eventos clic al botón
        joinButton.addEventListener('click', function (event) {
            // Utiliza el cuadro de diálogo de confirmación
            var confirmed = confirm("¿Estás seguro de que deseas eliminar este vehículo?");

            // Si el usuario confirmó, redirige al usuario a 'my_trips'
            if (confirmed) {
                // Continuar con la redirección
                return true;
            } else {
                // Prevenir la acción predeterminada si el usuario cancela
                event.preventDefault();
                return false;
            }
        });
    });
</script>

{% endblock %}